<tr>
  <td colspan="3"></td>
  <td class="element group-3 period-7 last-element metal actinide d-block">Ac</td>
  <td class="element group-3 period-7 last-element metal actinide f-block">Th</td>
  <td class="element group-3 period-7 last-element metal actinide f-block">Pa</td>
  <td class="element group-3 period-7 last-element metal actinide f-block">U</td>
  <td class="element group-3 period-7 last-element metal actinide f-block">Np</td>
  <td class="element group-3 period-7 last-element metal actinide f-block">Pu</td>
  <td class="element group-3 period-7 last-element metal actinide f-block">Am</td>
  <td class="element group-3 period-7 last-element metal actinide f-block">Cm</td>
  <td class="element group-3 period-7 last-element metal actinide f-block">Bk</td>
  <td class="element group-3 period-7 last-element metal actinide f-block">Cf</td>
  <td class="element group-3 period-7 last-element metal actinide f-block">Es</td>
  <td class="element group-3 period-7 last-element metal actinide f-block">Fm</td>
  <td class="element group-3 period-7 last-element metal actinide f-block">Md</td>
  <td class="element group-3 period-7 last-element metal actinide f-block">No</td>
  <td class="element group-3 period-7 last-element metal actinide f-block">Lr</td>
</tr>
