<tr>
  <td colspan="3"></td>
  <td class="element group-3 period-6 metal lanthanide d-block">La</td>
  <td class="element group-3 period-6 metal lanthanide f-block">Ce</td>
  <td class="element group-3 period-6 metal lanthanide f-block">Pr</td>
  <td class="element group-3 period-6 metal lanthanide f-block">Nd</td>
  <td class="element group-3 period-6 metal lanthanide f-block">Pm</td>
  <td class="element group-3 period-6 metal lanthanide f-block">Sm</td>
  <td class="element group-3 period-6 metal lanthanide f-block">Eu</td>
  <td class="element group-3 period-6 metal lanthanide f-block">Gd</td>
  <td class="element group-3 period-6 metal lanthanide f-block">Tb</td>
  <td class="element group-3 period-6 metal lanthanide f-block">Dy</td>
  <td class="element group-3 period-6 metal lanthanide f-block">Ho</td>
  <td class="element group-3 period-6 metal lanthanide f-block">Er</td>
  <td class="element group-3 period-6 metal lanthanide f-block">Tm</td>
  <td class="element group-3 period-6 metal lanthanide f-block">Yb</td>
  <td class="element group-3 period-6 metal lanthanide f-block">Lu</td>
</tr>
