<tr>
  <td class="period-heading selector">
    <input type="radio" id="period-3" name="element-selector">
    <label for="period-3">3</label>
  </td>
  <td class="element group-1 period-3 metal alkali-metal s-block">Na</td>
  <td class="element group-2 period-3 metal alkaline-metal s-block">Mg</td>
  <td class="element group-13 period-3 metal post-transition-metal stairstep-element p-block">Al</td>
  <td class="element group-14 period-3 metalloid p-block">Si</td>
  <td class="element group-15 period-3 nonmetal other-nonmetal p-block">P</td>
  <td class="element group-16 period-3 nonmetal other-nonmetal p-block">S</td>
  <td class="element group-17 period-3 nonmetal halogen p-block">Cl</td>
  <td class="element group-18 period-3 nonmetal noble-gas p-block">Ar</td>
</tr>
