<tr>
  <td class="period-heading selector">
    <input type="radio" id="period-7" name="element-selector">
    <label for="period-7">7</label>
  </td>
  <td class="element group-1 period-7 last-element metal alkali-metal s-block">Fr</td>
  <td class="element group-2 period-7 last-element metal alkaline-metal s-block">Ra</td>
  <td class="element-ext">89-103</td>
  <td class="element group-4 period-7 last-element metal transition-metal d-block">Rf</td>
  <td class="element group-5 period-7 last-element metal transition-metal d-block">Db</td>
  <td class="element group-6 period-7 last-element metal transition-metal d-block">Sg</td>
  <td class="element group-7 period-7 last-element metal transition-metal d-block">Bh</td>
  <td class="element group-8 period-7 last-element metal transition-metal d-block">Hs</td>
  <td class="element group-9 period-7 last-element metal transition-metal d-block">Mt</td>
  <td class="element group-10 period-7 last-element metal transition-metal d-block">Ds</td>
  <td class="element group-11 period-7 last-element metal transition-metal d-block">Rg</td>
  <td class="element group-12 period-7 last-element metal transition-metal d-block">Cn</td>
  <td class="element group-13 period-7 last-element post-transition-metal p-block">Nh</td>
  <td class="element group-14 period-7 last-element post-transition-metal p-block">Fl</td>
  <td class="element group-15 period-7 last-element post-transition-metal p-block">Mc</td>
  <td class="element group-16 period-7 last-element post-transition-metal p-block">Lv</td>
  <td class="element group-17 period-7 last-element halogen p-block">Ts</td>
  <td class="element group-18 period-7 last-element noble-gas p-block">Og</td>
</tr>
