<tr>
  <td class="period-heading selector">
    <input type="radio" id="period-2" name="element-selector">
    <label for="period-2">2</label>
  </td>
  <td class="element group-1 period-2 metal alkali-metal s-block">Li</td>
  <td class="element group-2 period-2 metal alkaline-metal s-block">Be</td>
  <td class="element group-13 period-2 metalloid p-block">B</td>
  <td class="element group-14 period-2 nonmetal other-nonmetal p-block">C</td>
  <td class="element group-15 period-2 nonmetal other-nonmetal p-block">N</td>
  <td class="element group-16 period-2 nonmetal other-nonmetal p-block">O</td>
  <td class="element group-17 period-2 nonmetal halogen p-block">F</td>
  <td class="element group-18 period-2 nonmetal noble-gas p-block">Ne</td>
</tr>
