<tr>
  <td class="period-heading selector">
    <input type="radio" id="period-6" name="element-selector">
    <label for="period-6">6</label>
  </td>
  <td class="element group-1 period-6 metal alkali-metal s-block">Cs</td>
  <td class="element group-2 period-6 metal alkaline-metal s-block">Ba</td>
  <td class="element-ext">57-71</td>
  <td class="element group-4 period-6 metal transition-metal d-block">Hf</td>
  <td class="element group-5 period-6 metal transition-metal d-block">Ta</td>
  <td class="element group-6 period-6 metal transition-metal d-block">W</td>
  <td class="element group-7 period-6 metal transition-metal d-block">Re</td>
  <td class="element group-8 period-6 metal transition-metal d-block">Os</td>
  <td class="element group-9 period-6 metal transition-metal d-block">Ir</td>
  <td class="element group-10 period-6 metal transition-metal d-block">Pt</td>
  <td class="element group-11 period-6 metal transition-metal d-block">Au</td>
  <td class="element group-12 period-6 metal transition-metal d-block">Hg</td>
  <td class="element group-13 period-6 metal post-transition-metal p-block">Tl</td>
  <td class="element group-14 period-6 metal post-transition-metal p-block">Pb</td>
  <td class="element group-15 period-6 metal post-transition-metal p-block">Bi</td>
  <td class="element group-16 period-6 metalloid stairstep-element p-block">Po</td>
  <td class="element group-17 period-6 nonmetal halogen p-block">At</td>
  <td class="element group-18 period-6 nonmetal noble-gas p-block">Rn</td>
</tr>
