<tr>
  <td class="period-heading selector">
    <input type="radio" id="period-5" name="element-selector">
    <label for="period-5">5</label>
  </td>
  <td class="element group-1 period-5 metal alkali-metal s-block">Rb</td>
  <td class="element group-2 period-5 metal alkaline-metal s-block">Sr</td>
  <td class="element group-3 period-5 metal last-element transition-metal d-block">Y</td>
  <td class="element group-4 period-5 metal transition-metal d-block">Zr</td>
  <td class="element group-5 period-5 metal transition-metal d-block">Nb</td>
  <td class="element group-6 period-5 metal transition-metal d-block">Mo</td>
  <td class="element group-7 period-5 metal transition-metal d-block">Tc</td>
  <td class="element group-8 period-5 metal transition-metal d-block">Ru</td>
  <td class="element group-9 period-5 metal transition-metal d-block">Rh</td>
  <td class="element group-10 period-5 metal transition-metal d-block">Pd</td>
  <td class="element group-11 period-5 metal transition-metal d-block">Ag</td>
  <td class="element group-12 period-5 metal transition-metal d-block">Cd</td>
  <td class="element group-13 period-5 metal post-transition-metal p-block">In</td>
  <td class="element group-14 period-5 metal post-transition-metal p-block">Sn</td>
  <td class="element group-15 period-5 metalloid stairstep-element p-block">Sb</td>
  <td class="element group-16 period-5 metalloid p-block">Te</td>
  <td class="element group-17 period-5 nonmetal halogen p-block">I</td>
  <td class="element group-18 period-5 nonmetal noble-gas p-block">Xe</td>
</tr>
