<td colspan="10" rowspan="3">
  <div id="table-display">
    <div id="element-preview">
      <div class="header">
        <div class="element-name">Hydrogen</div>
        <div class="state">UNKNOWN</div>
      </div>

      <div class="info-card-wrap">
        <div class="info">
          <div class="row group-period">
            <div class="key">Group, Period</div>
            <div class="value">1, 1</div>
          </div>
          <div class="row block">
            <div class="key">Block</div>
            <div class="value">s block</div>
          </div>
          <div class="row key-isotopes">
            <div class="key">Key Isotopes</div>
            <div class="value"></div>
          </div>
          <div class="row electron-configuration">
            <div class="key">Electron Configuration</div>
            <div class="value"></div>
          </div>
        </div>

        <div class="card">
          <div class="atomic-number">1</div>
          <div class="symbol">H</div>
          <div class="name">Hydrogen</div>
          <div class="atomic-weight">1.008</div>
        </div>
      </div>
    </div>

    <div id="state-key">
      <div class="keys">
        <div class="key-element solid">Solid</div>
        <div class="key-element liquid">Liquid</div>
        <div class="key-element gas">Gas</div>
        <div class="key-element unknown">Unknown</div>
      </div>
      <table class="temperature">
        <tr>
          <td class="kelvin">0</td>
          <td>Kelvin</td>
        </tr>
        <tr>
          <td class="celsius">0</td>
          <td>Celsius</td>
        </tr>
        <tr>
          <td class="fahrenheit">0</td>
          <td>Fahrenheit</td>
        </tr>
      </table>
    </div>

    <div id="blocks">
      <p>Blocks</p>
      <div class="block selector">
        <input type="radio" id="s-block" name="element-selector">
        <label for="s-block">s block</label>
      </div>
      <div class="block selector">
        <input type="radio" id="p-block" name="element-selector">
        <label for="p-block">p block</label>
      </div>
      <div class="block selector">
        <input type="radio" id="d-block" name="element-selector">
        <label for="d-block">d block</label>
      </div>
      <div class="block selector">
        <input type="radio" id="f-block" name="element-selector">
        <label for="f-block">f block</label>
      </div>
      <button id="reset-table">Reset Table</button>
    </div>
  </div>
</td>
