<tr>
  <td class="period-heading selector">
    <input type="radio" id="period-1" name="element-selector">
    <label for="period-1">1</label>
  </td>
  <td class="element group-1 period-1 nonmetal other-nonmetal s-block">
    <%= link_to 'H', element_path('H') %>
  </td>
  <td colspan="1"></td>
  <%= render 'element_preview' %>
  <td colspan="5"></td>
  <td class="element group-18 period-1 nonmetal noble-gas s-block">
    <%= link_to 'He', element_path('He') %>
  </td>
</tr>
