/* MAIN STYLESHEET */

/* variables */

/* Colors */

$red: rgb(255, 30, 31);
$blue: rgb(30, 144, 255);
$yellow: rgb(255, 235, 30);
$orange: rgb(255, 141, 30);
$burntOrange: rgb(207, 83, 0);
$green: rgb(0, 200, 0);
$pink: rgb(253, 30, 255);
$purple: rgb(200, 75, 255);
$lime: rgb(35, 255, 30);
$gray: rgb(115, 130, 143);

$liquidColor: rgb(0, 200, 255);

/* universal */

* {
  box-sizing: border-box;
  font-family: arial;
  color: #222;
}

body {
  background: white;
}

/* category colors */

.other-nonmetal {
  background: $lime;
}
.alkali-metal {
  background: $pink;
}
.alkaline-metal {
  background: $blue;
}
.transition-metal {
  background: $orange;
}
.post-transition-metal {
  background: $gray;
}
.metalloid {
  background: $yellow;
}
.halogen {
  background: $red;
}
.noble-gas {
  background: $burntOrange;
}
.lanthanide {
  background: $purple;
}
.actinide {
  background: $green;
}

.solid {
  background: $orange;
}
.liquid {
  background: $liquidColor;
}
.gas {
  background: $green;
}
.unknown {
  background: rgb(200,200,200);
}

/* table */

#periodic-table {
  border-collapse: separate;
  border-spacing: 5px;
  min-width: 1050px;

  input[name=element-selector] {
    display: none;
  }

  td {
    width: 50px;
    height: 50px;
    vertical-align: center;
    text-align: center;

    label:hover {
      cursor: pointer;
    }

    a {
      text-decoration: none;
    }
  }

  .period-heading,
  .group-heading {
    font-size: 16px;

    &:hover {
      cursor: pointer;
    }

    label {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }

  .element {
    opacity: .8;
    font-weight: bold;
    box-shadow: 0 2px 8px -2px black;
    transition: all 0.25s;
    border-radius: 2px;
    position: relative;
    font-size: 18px;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
      cursor: pointer;
    }

    &.selected {
      opacity: 1;
    }

    &.disable {
      opacity: .3;

      &:hover {
        cursor: default;
        transform: scale(1);
      }
    }

    .atomic-number {
      position: absolute;
      top: 2px;
      left: 2px;
      font-weight: normal;
      font-size: 12px;
      color: black;
    }

    a {
      display: block;
      margin-top: 4px;
    }
  }

  #table-display {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    position: relative;

    #state-key {
      display: none;
      width: 80%;
      height: 100%;
      transition: all 0.25s;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000;
      background: white;
      display: flex;
      flex-flow: row nowrap;

      .keys {
        width: 70%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding-top: 12px;

        .key-element {
          width: 100px;
          height: 60px;
          margin-right: 12px;
          font-weight: bold;
          // box-shadow: 0 2px 8px -2px black;
          transition: all 0.25s;
          border-radius: 2px;
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
        }
      }

      .temperature {
        width: 40%;

        td:nth-child(2) {
          text-align: left;
        }
      }
    }

    #element-preview {
      width: 80%;
      height: 100%;
      opacity: 0;
      transition: all 0.25s;

      .header {
        width: 100%;
        height: 33%;
        // background: $lime;
        border-bottom: 3px solid $lime;
        border-left: 3px solid $lime;
        border-bottom-left-radius: 5px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 3px 0 16px;
        font-size: 24px;
        font-weight: bold;

        .state {
          font-size: 14px;
          width: 25%;
          border-left: 3px solid white;
        }
      }

      .info-card-wrap {
        display: flex;
        flex-flow: row nowrap;
        height: 66%;

        .info {
          width: 75%;
          height: 100%;
          background: #efefef;
          border-top: 2px solid white;
          border-right: 2px solid white;
          margin-left: 5px;

          .row {
            width: 100%;
            height: 25%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            font-size: 14px;
            border-bottom: 1px solid $lime;

            .key,
            .value {
              padding-left: 5px;
            }

            .key {
              width: 55%;
              text-align: left;
            }
          }
        }

        .card {
          width: 25%;
          height: 100%;
          display: flex;
          flex-flow: column;
          background: $lime;
          padding: 5px;
          border-bottom-right-radius: 5px;

          .atomic-number,
          .name,
          .atomic-weight {
            align-self: flex-start;
          }

          .symbol {
            font-size: 34px;
            font-weight: bold;
          }

          .name {
            margin-top: auto;
          }
        }
      }
    }

    #blocks {
      width: 20%;
      display: flex;
      flex-flow: column;
      padding-left: 5px;

      #reset-table {
        margin-top: auto;
        width: 100%;
        padding: 5px;
      }

      p:first-child {
        margin: 5px;
        font-weight: bold;
        border-bottom: 2px solid #222;
      }

      .block {
        display: flex;
        flex-flow: column;
        align-self: center;
        margin-bottom: 5px;
      }
    }
  }

  #temperature-slider-wrap {
    padding-left: 16px;
    font-size: 14px;

    div:first-child {
      text-align: left;
      font-weight: bold;

      span {
        font-weight: normal;
      }
    }

    .row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      margin-top: 8px;

      #temperature-slider {
        width: 125px;
        margin-left: 18px;
        margin-right: 18px;
      }
    }
  }
}

#categories {
  width: 1050px;
  padding-left: 50px;
  margin: 25px 0;

  .row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  .category {
    width: 100px;
    height: 60px;
    margin: 0 1px;
    opacity: .75;
    transition: all 0.25s;

    &.disable {
      opacity: .3;
    }

    &.selected {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    input {
      display: none;
    }

    label {
      font-size: 14px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-weight: bold;
      padding: 4px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
